 body{
   background-color: white;
 }
 div{
   margin: 0 auto;
   text-align: center;
   margin-top: 10%;
   /* background-color: aliceblue; */
 }

 div button{
   margin: 10px 20px;
   width: 7%;
   padding: 10px;
   background-color: silver;
   color: white;
 }

 .info{
   margin: 0 auto;
   text-align: center;
   /* background-color: aliceblue; */
 }

span{
  padding: 10px ;
  display: block;
  margin: 0 auto;
  background-color: silver;
  width:300px ;
  color: white;
  border: 2px solid black;
}